<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<%= link_to 'Edit', edit_group_message_path(@group, @message) %> |
<%= link_to 'Back to Group', group_path(@group) %>
