<div class="top">
  <div class="left">
    <h1><%= @group.name %></h1>
  </div>
  <div class="right">
    <%= link_to "View Members", group_memberships_path(@group) %>
    <% if current_user.admin? %>
      <%= link_to "Edit Group", edit_group_path(@group) %>
    <% end %>
  </div>
</div>

<div class="third-left">
  <h2>Group Schedules</h2>
  <div class="create">
    <p>Create new Schedule</p>
  </div>
  <div class="content">
    
  </div>
</div>

<div class="third-center">
  
</div>

<div class="third-right">
  <h2>Group Expenses</h2>
</div>
