<h1>Editing Schedule</h1>

<%= render 'form' %>

<%= link_to 'Show', group_activity_schedule_path(@group, @activity, @schedule) %> |
<%= link_to 'Back', group_activity_schedules_path(@group, @activity) %>
