<div class="section">
    <img src="/assets/butler/butlerfull.png" alt="butler" title="Mr. Butlter"/>
</div>

<div class="section">
    <div class="speech-bubble-left">
        <% if user_signed_in? %> 
            <% if Profile.exists?(id: current_user.id) %>
		        <% @profile = Profile.find(current_user.id) %>
                <p>Welcome back, Master <%= @profile.fname %>! What can I do for you today? </p>
                <p>To manage your <b>personal expenses</b>, go to <%= link_to 'Expenses', expenses_overview_path(current_user.id) %>.</p>
                <p>To manage your household, go to <%= link_to 'Groups', group_home_path %>.</p>
            <% else %>
                <p>Please create a profile before you proceed!</p>
            <% end %>
        <% end %>
    </div>
</div>

