<div class="section">
    <img src="/assets/butler/butlerfull.png" alt="butler" title="Mr. Butler"/>
</div>

<div class="section">
    <div class="speech-bubble-left">
        <p>Hmmm... I wonder how you got here...</p>
        <p>I'm afraid you're not allowed into this page. </p>
        <p>Please refer to the navigation bar for the appropriate functions.</p>
    </div>
</div>